{
  "Update-AzSynapseFirewallRule+[NoContext]+UpdateExpanded+$GET+https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapse-rg-psmiot/providers/Microsoft.Synapse/workspaces/workspacepl0qaz/firewallRules?api-version=2021-03-01+1": {
    "Request": {
      "Method": "GET",
      "RequestUri": "https://management.azure.com/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapse-rg-psmiot/providers/Microsoft.Synapse/workspaces/workspacepl0qaz/firewallRules?api-version=2021-03-01",
      "Content": null,
      "Headers": {
        "x-ms-unique-id": [ "11" ],
        "Authorization": [ "[Filtered]" ]
      },
      "ContentHeaders": {
      }
    },
    "Response": {
      "StatusCode": 200,
      "Headers": {
        "x-ms-ratelimit-remaining-subscription-reads": [ "11978" ]
      },
      "ContentHeaders": {
        "Content-Type": [ "application/json; charset=utf-8" ]
      },
      "Content": "{\"value\":[{\"properties\":{\"provisioningState\":\"Succeeded\",\"startIpAddress\":\"110.0.0.0\",\"endIpAddress\":\"119.255.255.255\"},\"id\":\"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapse-rg-psmiot/providers/Microsoft.Synapse/workspaces/workspacepl0qaz/firewallRules/firewallrule3rfhvl\",\"name\":\"firewallrule3rfhvl\",\"type\":\"Microsoft.Synapse/workspaces/firewallRules\"},{\"properties\":{\"provisioningState\":\"Succeeded\",\"startIpAddress\":\"100.0.0.0\",\"endIpAddress\":\"109.255.255.255\"},\"id\":\"/subscriptions/051ddeca-1ed6-4d8b-ba6f-1ff561e5f3b3/resourceGroups/synapse-rg-psmiot/providers/Microsoft.Synapse/workspaces/workspacepl0qaz/firewallRules/firewallrulekegx3m\",\"name\":\"firewallrulekegx3m\",\"type\":\"Microsoft.Synapse/workspaces/firewallRules\"},{\"properties\":{\"provisioningState\":\"Succeeded\",\"[...]
